Repository Evgeniy1211/Matrix_scalping: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: update pre-commit hook to use --no option for lint-staged
  .husky/pre-commit
Due: none

Унификация данных: добавлены заметки из knowledge-base в technologies.ts
  backend/data/technologies.ts
Due: eslint --fix

feat: добавление поля заметок в интерфейс TechnologyDescription и обновление базы технологий
  backend/routes.ts
  client/src/hooks/use-technologies.ts
Due: eslint --fix

feat(tests): add end-to-end tests for API routes using Vitest and Supertest
  .github/workflows/ci.yml
  README.md
  backend/routes.ts
  client/src/hooks/use-technologies.ts
  package-lock.json
  package.json
  tests/api.e2e.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

chore: update dependencies and improve API tests
  .github/workflows/ci.yml
  backend/public/index.html
  package-lock.json
  package.json
  tests/api.e2e.test.ts
Due: prettier --write

feat: update README and technologies interface, add import process script
  README.md
  backend/data/technologies.ts
  backend/import/process-import.ts
  package.json
Due: eslint --fix, prettier --write

refactor: migrate schema and update imports from knowledge-base to schemas
  backend/docs/methodology.md
  backend/docs/overview.md
  backend/docs/technologies-overview.md
  backend/schemas/schema.ts
  backend/storage.ts
  drizzle.config.ts
  package.json
  tests/api.e2e.test.ts
  tsconfig.json
  vite.config.ts
Due: eslint --fix, prettier --write

feat: добавить обработчик ошибок, улучшить логику загрузки технологий и обновить модули и ревизии
  backend/schemas/constants.ts
  client/src/App.tsx
  client/src/components/ErrorBoundary.tsx
  client/src/components/dynamic-evolution-matrix.tsx
  client/src/components/evolution-matrix.tsx
  client/src/components/technology-details.tsx
  client/src/components/technology-importer.tsx
  client/src/hooks/use-technologies.ts
  client/src/lib/buildTechnologyRows.ts
  client/src/lib/queryClient.ts
  tests/buildTechnologyRows.test.ts
  vitest.config.ts
Due: eslint --fix

feat: добавить поддержку React Query Devtools и обновить зависимости
  client/src/App.tsx
  client/src/components/evolution-matrix.tsx
  client/src/lib/buildTechnologyRows.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat(tests): add unit tests for EvolutionMatrix and TechnologyDetails components
  .github/workflows/ci.yml
  .husky/pre-commit
  package-lock.json
  package.json
  tests/evolution-matrix.component.test.tsx
  tests/setup.ts
  tests/technology-details.component.test.tsx
  vitest.config.ts
Due: prettier --write

Add copilot instructions for AI agents
  .github/copilot-instructions.md
Due: prettier --write

feat: update schema references and enhance API tests for module validation
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  README.md
  backend/knowledge-base/schema.ts
  backend/overview.md
  backend/schemas/schema.ts
  docs/frontend/evolution-matrix-guide.md
  project-overview.md
  replit.md
  tests/api.e2e.test.ts
Due: eslint --fix, prettier --write

feat: update API endpoints to use new paths and deprecate old ones; enhance linting configuration and add tests for TechnologyTree component
  .husky/pre-commit
  backend/overview.md
  backend/routes.ts
  docs/frontend/evolution-matrix-guide.md
  docs/frontend/technology-tree-guide.md
  package.json
  project-overview.md
  tests/evolution-matrix.component.test.tsx
  tests/technology-tree.component.test.tsx
  vitest.config.ts
Due: eslint --fix, prettier --write

Create import
  backend/import/import 
Due: none

Create кейс 2
  backend/import/кейс 2
Due: none

feat: обновить описание кейса Random Forest Scalper, удалив избыточные детали и улучшив структуру документации
  backend/knowledge-base/trading-cases.md
Due: prettier --write

feat: удалить кейс 2 о скальпинге с Reinforcement Learning, обновив структуру документации
  backend/data/trading-machines.ts
  backend/import/import 
  backend/import/кейс 2
  backend/knowledge-base/trading-cases.md
Due: eslint --fix, prettier --write

feat: добавить полный аудит проекта Matrix_scalping, включая структуру, основные файлы и рекомендации по улучшению
  docs/PROJECT_AUDIT.md
Due: prettier --write

feat: добавить поддержку переменных окружения с использованием dotenv и обновить документацию
  .env.example
  .gitignore
  INSTALL.md
  README.md
  drizzle.config.ts
  index.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat: улучшить отображение кнопок и списков в компоненте TradingMachineComparator для лучшей читаемости
  client/src/components/trading-machine-comparator.tsx
Due: eslint --fix

feat: добавить возможность импорта торговых систем через API и улучшить обработку ошибок
  backend/data/json/trading-machines.json
  backend/routes.ts
  backend/vite.ts
  client/src/pages/cases-page.tsx
  index.ts
Due: eslint --fix, prettier --write

feat: добавить полную карту файлов и директорий с описаниями в документацию
  PROJECT_FILE_MAP.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: ((any of: index.ts) or (any of: backend/**/*.{ts,tsx})) or (any of: client/src/**/*.{ts,tsx})
  prettier --write: (((any of: index.ts) or (any of: client/src/**/*.{css,scss})) or (any of: docs/**/*.{md})) or (any of: *.{md,json})
